<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Final Portfolio</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/icon.png" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <base href="http://localhost:3001/">
</head>

<body>
  <header class="content is-medium has-background-link  mx-5 mb-5">
    <h1 class="has-text-centered pt-5" id="pinkColour">Susanne's Portfolio</h1>
    <h2 class="has-text-white has-text-centered mb-4 pb-4">Want a website with a bit of <span
        class="effects">difference</span> and <span class="effects">flair.</span>
    </h2>


    <nav class="navbar content is-normal" role="navigation" aria-label="main navigation">
      <div class="navbar-brand has-background-link">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarPortfolio" class="navbar-menu content is-large has-background-link">
        <div class="navbar-start">
          <a class="navbar-item" id="navbar-item" href="#Home" target="_top">
            Home
          </a>
          <a class="navbar-item" id="navbar-item" href="#aboutMe" target="_top">
            About Me
          </a>

          <a class="navbar-item" id="navbar-item" href="#contactDtls" target="_top">
            Contact
          </a>
          
          <div class="navbar-item has-dropdown is-hoverable " target="_top">
            <a class="navbar-link">
              Portfolio
            </a>

            <div class="navbar-dropdown">
              <a href="#weatherForecast" class="dropdown-item" target="_top">
                Weather Forecast
              </a>
              <a href="#techBlog" class="dropdown-item" target="_top">
                Tech Blog
              </a>
              <a href="#easyAppointmentTracker" class="dropdown-item" target="_top">
                Easee Appointment Tracker
              </a>
            </div>
          </div>
          {{#if loggedIn}}
          <button class="is-size-4 has-background-link" id="logout">Logout</button>
          {{else}}
          <a class="navbar-item" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>
  <main class="container mb-5 p-4">
    <div class="main">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>