<section class="card">
  <form class="form new-post-form">
    <div class="form-group">
      <label form="blog-title">Assignment - {{assignment.assignment_title}}</label>
    </div>
    <div class="form-group">
      
      <button class="btn btn-post" type="submit">Create </button>
      <input class="form-input" type="hidden" id="blog-id" value="{{assignment_title}}" />
    </div>
  </form>
</section>
<section>
  <p class=" is-size-3">To view source code from GITHUB or to print out You must be logged in</p>
  <p class=" is-size-3">Click on either Login or Signup</p>

  <a class="button is-size-3 px-5 mt-5 mr-5 has-background-link" href="/login">Login</a>
  <a class="button is-size-3 px-5 mt-5 has-background-link" href="/signup">Signup</a>
</section>