<div class="myemailform">
    <h1>Customer Contact Details</h1>
    <form class="form">
        <label for="fname"></label><i class="fa fa-user"></i>First name:</label>
        <input type="text" id="fname" name="fname" placeholder="First Name"><br>
        <label for="lname"><i class="fa fa-user "></i>Last name:</label>
        <input type="text" id="lname" name="lname" placeholder="Last Name"><br><br>
        <label for="phone"><i class="fa fa-phone"></i>Phone:</label>
        <input type="text" id="phone" name="phone" placeholder="Phone Number"><br><br>
        <label for="email"><i class="fa fa-envelope"></i>Email:</label>
        <input type="text" id="email" name="email" placeholder="email address"><br>
        <br>
        <a href="/" ><button>Send</button></a>
    </form>
</div>