<div class="row justify-space-between-md box p-4"> 
  <label class="label is-medium is-size-2">Login:</label>
  <form class="form login-form is-block">
    <div class="field">
      <label class="label is-size-3">Email:</label>
      <p class="control has-icons-left">
        <input class="input is-info" id="email-login" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <label class="label is-size-3">Password:</label>
      <p class="control has-icons-left">
        <input class="input is-info" id="password-login" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="login button is-info is-size-5 px-5">Login</button>
      </p>
    </div>
    <p class="is-size-4">Don't have an account? <a href="/signup">Signup</a></p>
  </form>
</div>

<script src="./js/login.js"></script>